
.accordion {
    max-width: 500px;
    margin: 1rem auto;

  .accordion-item {

    .accordion-header {
      margin: 0;

      .accordion-button.collapsed {
        color: red;



        &::after {
          color: red;
        }


      }
    }

    .accordion-collapse {

      .accordion-body {


      }
    }
  }
}









//
//.lista-wrap {
//  max-width: 500px;
//  margin: 1rem auto;
//
//  h2 {
//    margin: 0;
//  }
//
//  .lista-item {
//    margin: 5px 0;
//    border-left: 4px solid red;
//    border-bottom: 2px solid red;
//
//    button {
//      background-color: var(--crnaBg);
//      color: blue;
//
//    }
//
//
//    .lista-header {
//
//      .accordion-button.collapsed {
//        color: yellow;
//
//        &:after {
//          color: pink;
//
//        }
//      }
//
//      .lista-body {
//
//
//      }
//    }
//  }
//}