

:root {
  --zlatna: #aa7b3e;
  --crna: #0d0d0d;
  --crnaBg: rgba(36, 36, 36, 0.91);
  --bela: #ececec;
}

html {
  scroll-behavior: smooth;
  background-color: #0d0d0d;

  body {
    background-image: url("../images/logo-bg/q-marble-bg.jpg");
    background-repeat: repeat;
    background-size: cover  !important;
    background-position: top center !important;
    background-attachment: fixed;
    min-height: 100vh;
  }

}