
.main-naslov {
  text-align: center;
  color: var(--zlatna);
  margin: 5rem 0;

  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }





  @media  (max-width: 600px) {


    h1 {
      font-size: 1.2em;
    }
    h3 {
      font-size: 0.9rem;
    }
  }
}