

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--crna);
  border-bottom: 1px solid var(--zlatna);
  width: 100%;

  //position:-webkit-sticky;
  position: sticky;
  top:0;
  z-index: 999;


  .nav-button {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid var(--zlatna);
    background-color: var(--crnaBg);
    position: fixed;
    top: 1.7rem;
    left: 3.5rem;
    z-index: 110;


    .bar {
      width: 100%;
      height: 1px;
      margin: 4px 0;
      background-color: var(--zlatna);
      display: block;
    }

    &:before {
      border-bottom: 1px solid var(--zlatna);
      border-right: 1px solid var(--zlatna);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 5px;
      left: 5px;
      z-index: -100;
    }

    &:hover {
      outline: 1px solid var(--zlatna);
      outline-offset: 4px;
      transition: all 0.3s ease;

      &:before {
        display: none;
      }

    }
  }

  ul {
    position: fixed;
    top: 0;
    left: -100%;
    padding-top: 7rem;
    list-style-type: none;
    width: 50%;
    height: 100vh;
    background-color: var(--crna);
    transition: all 0.7s ease-out;

    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    z-index: 100;


    li {
      font-size: 1.5rem;
      padding-left: 9rem;
      letter-spacing: 3px;

      a {
        text-decoration: none;
        color: var(--bela);
      }
    }
  }

  .pokazati-meni {
    left: 0;
    transition: all 0.7s ease-out;
  }

  .nav-links {

  }

  .logo {
    width: 7rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
  }


  .rezervacija-dugme {
    padding: 3px 10px;
    background-color: var(--zlatna);
    color: var(--crna);
    font-weight: 500;
    height: 1.8rem;
    border: none;
    position: fixed;
    top: 1.7rem;
    right: 3.5rem;
    text-align: center;
    //text-wrap: normal;


    &:before {
      border-bottom: 1px solid var(--zlatna);
      border-right: 1px solid var(--zlatna);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 5px;
      left: 5px;
      z-index: -1;
    }

    &:hover {
      outline: 1px solid var(--zlatna);
      outline-offset: 4px;
      transition: all 0.3s ease;

      &:before {
        display: none;
      }
    }


  }




  @media  (max-width: 600px){
    padding: 0 2rem;
    height: 73.5px;


    .logo {
      width: 5rem;
    }

    .rezervacija-dugme {
      //padding: 3px 18px;
      background: none;
      text-align: center;
      color: var(--zlatna);
      //color: var(--crna);
      font-weight: 500;
      //height: 1.8rem;
      width: 5rem;
      //border: none;
      //position: fixed;
      top: 0.8rem;
      right: 1rem;
      text-wrap: normal;
      font-size: smaller;

      &:before {
        display: none;
      }

      &:hover {
        outline: none;
      }

    }

    .nav-button {
      top: 1rem;
      left: 1rem;
    }

    ul {
      width: 100%;

      li {
        padding-left: 3rem;
      }
    }


  }
}

.aktivni-link {
  color: var(--zlatna);
}



