

.obavest {
  text-align: center;
  background-color: var(--zlatna);
  //background-color: var(--crna);
  width: 100%;
  margin: 0;


  p {
    padding: 0.2rem;
    color: var(--crna);
    //color: var(--zlatna);
    font-weight: 400;
    letter-spacing: 1px;

    margin: 0;
  }

}

.sakrij {
  display: none;
}