
.section1 {

  h1 {
    color: var(--zlatna);
    text-align: center;
    //margin-top: 1rem;
    font-size: 1.7rem;
    margin: 1.5rem;
  }

  .uslugeBox {
    overflow: hidden;
  }




  @media  (max-width: 600px) {



  }
}