
ul {
  font-size: 1rem;

  li {
    list-style: none;
    border-bottom: 1px solid var(--zlatna);
    padding: 1.3rem 0 0.2rem 1rem;

    a {
      color: var(--bela);
      text-decoration: none;
      transition: all 0.5s ease;

      &:hover {
        color: var(--zlatna);
      }
    }

    .activeLink {
      color: var(--zlatna);
    }

  }

}